{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- <h1>Welcome to the Image App</h1> -->
    <div class="row">
        {% for image in images %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ url_for('main.send_image', filename=image['filename']) }}" class="card-img-top" alt="{{ image['filename'] }}">
                    <div class="card-body">
                        <p class="card-text">{{ image['filename'] }}</p>
                        <p class="card-text"><small class="text-muted">Shoot time {{ image['shoot_time'] }}</small></p>
                        <form action="{{ url_for('main.delete_image', filename=image['filename']) }}" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <a href="{{ url_for('main.rename_image', filename=image['filename']) }}" class="btn btn-primary btn-sm">Rename</a>
                        <a href="{{ url_for('main.download_image', filename=image['filename']) }}" class="btn btn-success btn-sm">Download</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
