{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="mt-4">
        <h1>{{ title }}</h1>
        <form action="" method="POST">
            <div class="mb-3">
                <label for="filename" class="form-label">New File Name</label>
                <input type="text" class="form-control" name="filename" id="filename" autofocus />
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <input type="submit" class="btn btn-primary" value="Rename" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
